-{% extends "base.html" %}
{% load static %}

{% block title %}Home | My name is Matt.{% endblock %}

{% block content %}

<!-- HERO / WALLPAPER -->
<section class="hero-wallpaper home">
  <div class="hero-card">
    <h1>Hi, I’m Mateusz </h1>

    <p>
      I build web applications, learn Django and create my developer portfolio.
    </p>

    <a href="/projects/" class="btn">View projects</a>
  </div>
</section>

<!-- CONTENT -->
<section class="section">
  <div class="container">
    <h2>About me</h2>
    <p>
      I am a beginner backend developer focused on Python and Django.
      I enjoy building clean, functional web applications and learning
      how real-world systems work under the hood.
    </p>

    <h2 style="margin-top:60px;">What’s next?</h2>
    <p>
      Here I will add my skills, technologies I use, and selected projects.
    </p>
  </div>
</section>

{% endblock %}
