{% extends "base.html" %}
{% load static %}

{% block title %}Imprint{% endblock %}

{% block content %}

<!-- HERO / TAPETA -->
<section class="hero-wallpaper imprint">
    <div class="legal-hero">
        <h1 >Imprint</h1>
    </div>
</section>

<!-- TREŚĆ -->
<section class="legal-page">
    <p><strong>Name:</strong> Mateusz Hałdaś</p>
    <p><strong>Location:</strong> Germany</p>
    <p><strong>Email:</strong> haldas.mateusz@gmail.com</p>

    <p>
        This website is a personal portfolio created for informational purposes only
        and does not constitute a commercial offer.
    </p>
</section>

{% endblock %}
